@use "../../styles/variables.scss";
@use "../../styles/mixins.scss";

.experience {
  background: var(--secondary-bg);
}

.experience__grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--spacing-2xl);

  @include mixins.respond-to(md) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include mixins.respond-to(xl) {
    grid-template-columns: repeat(3, 1fr);
  }
}
