<section id="contact" class="contact section">
  <div class="container">
    <div class="section-header">
      <h2 class="section-title text-gradient">
        {{ "Contacto" }}
      </h2>
      <p class="section-subtitle">{{ "Llamame chabon" }}</p>
    </div>
  </div>
  <div class="contact__content">
    <div class="contact__info animate-fade-left">
      <h3 class="info__title">
        {{ "Title" }}
      </h3>
      <p class="info__text">
        {{ "Subtitle" }}
      </p>
      <div class="contact__methods">
        <app-contact-card />
        <app-contact-card />
        <app-contact-card />
      </div>
    </div>
  </div>
</section>
