<section class="project__card">
  <div class="project__image">
    <img [src]="image" alt="Titulo del proyecto" loading="lazy" />
    <div class="project__overlay">
      <div class="overlay__content">
        <h3 class="project__title">{{ "This is the title" }}</h3>
        <p class="project__short-desc">{{ "This is the short description" }}</p>
        <div class="project__cta">
          <span class="cta__text">{{ "I dont know what to write here" }}</span>
          <svg width="20" height="20" viewBox="0 0 24 24" fill="currentColor">
            <path
              d="M14,3V5H17.59L7.76,14.83L9.17,16.24L19,6.41V10H21V3M19,19H5V5H12V3H5C3.89,3 3,3.9 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V12H19V19Z"
            />
          </svg>
        </div>
      </div>
    </div>
  </div>

  <div class="project__content">
    <div class="project__meta">
      <span class="project__category">{{ "Categoria" }}</span>
      <span class="project__year">{{ "2024" }}</span>
    </div>

    <div class="project__technologies">
      <app-skill-tag />
    </div>
  </div>
</section>
